map/db.php
map/dats/*
map/dats_old/*
map/img/tile.*
map/img/excluded/*
map/img/full.png
img/flags
img/flags/*
map/img/uploads
map/img/uploads/*
map/tileIds.json
map/upload.sh
dateupdated.txt
db.php
getServerStatus
turnOnServer
