@font-face{
	font-family: "pixel";
	src: url('../pixel.ttf');
}
@font-face{
	font-family: "big_pixel";
	src: url('../big_pixel.ttf');
}
body {
	background-image: url("../img/bedrock.png");
	background-size: 8rem;
	background-color: #404040;
	image-rendering: pixelated;
	image-rendering: crisp-edges;/*One or the other will work, hopefully.*/
	font-family: pixel;
	margin: 0;
	overflow: hidden;
}
#mapcontainer {
	margin: auto;
	width: 1152;
	height: 640px;
	position: relative;
	border-style: solid;
	border-width: 4px;
	margin-bottom: 3rem;
}
#mapcontainer>canvas {
	position: absolute;
}
#mcmap {
	background-image: url("../img/stone.png");
	background-size: 8rem;
	background-color: #808080;
	image-rendering: pixelated;
	image-rendering: crisp-edges;/*One or the other will work, hopefully.*/
}
#mcmap.pointer {
	cursor: pointer;
}
#overlay {
	pointer-events: none;
}
#points {
	pointer-events: none;
}
#tileStorage {
	display: none;
}
#infoTxt {
	padding: 0.33333em 0 1em;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: #404040;
	color: #ffffff;
	font-size: 0.75rem;
	visibility: hidden;
}
#infoTxt.shown {
	visibility: visible;
}
#jumpMenu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(32,32,32,0.5);
	visibility: hidden;
}
#jumpMenu.shown {
	visibility: visible;
}
#jumpMenu>div:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#jumpMenu>div:nth-child(2) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #404040;
	padding: 1em;
	text-align: center;
}
#jumpMenu>div>div {
	margin: 1em 0;
}
#infoMenu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(32,32,32,0.5);
	visibility: hidden;
}
#infoMenu.shown {
	visibility: visible;
}
#infoMenu>div:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#infoMenu>div:nth-child(2) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #404040;
	padding: 1em;
	text-align: center;
}

.trpMenu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(32,32,32,0.5);
	visibility: hidden;
}
.trpMenu.shown {
	visibility: visible;
}
.trpMenu>div:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.trpMenu>div:nth-child(2) {
	position: absolute;
	top: 4rem;
	left: 4rem;
	width: calc(100% - 10rem);
	height: calc(100% - 10rem);
	background-color: #404040;
	padding: 1em;
	overflow-y: scroll;
}
.trpMenu input[type=text], .trpMenu input[type=number] {
	width: 10em;
}
.divider {
	height: 0px;
	border-style: solid;
	border-width: 1px;
}
.divider>span {
	background-color: #404040;
	display: inline-block;
	padding: 0px 0.5em;
	transform: translate(0%,-0.5em);
}
#instr {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #404040;
	background-image: url("../img/bedrock.png");
	background-size: 8rem;
	visibility: visible;
}
#instr.hide {
	visibility: hidden;
}
#instr>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #404040;
	padding: 1em;
}
#sidemenu {
	position: absolute;
	background-color: #202020;
	border-radius: 0px 0px 0px 0.75rem;
	right: 0;
	top: 0;
	opacity: 0.75;
}
#body.mobile #sidemenu {
	border-radius: 0px 0px 0px 2rem;
}
button {
	all: unset;
}
input[type=submit] {
	all: unset;
	padding: 0.5em;
	font-size: 1.25em;
	background-image: url("./img/stone.png");
	background-size: 4em;
	color: #000000;
	cursor: pointer;
}
input[type=number], input[type=text], textarea {
	all: unset;
	background-color: #E0E0E0;
	border-style: solid;
	border-radius: 0.25em;
	border-width: 1px;
	border-color: #000000;
	padding: 0.125em;
	text-align: left;
	display: inline-block;
	color: #202020;
}
input[type=number], input[type=text] {
	width: 5em;
	height: 1em;
}
#sidemenu button {
	image-rendering: initial;
	display: block;
	margin-top: 1.5rem;
	width: 3rem;
	height: 3rem;
}
#body.mobile #sidemenu button {
	margin-top: 4rem;
	width: 8rem;
	height: 8rem;
}
#sidemenu #infoButton {
	cursor: pointer;
	background-image: url("img/info.png");
	background-size: 100%;
}
#sidemenu #infoButton.hide {
	display: none;
}
#sidemenu #jumpButton {
	cursor: pointer;
	background-image: url("img/jump.png");
	background-size: 100%;
}
#sidemenu #pinButton {
	cursor: pointer;
	background-image: url("img/pin.png");
	background-size: 100%;
}
#sidemenu #pinButton.active {
	background-image: url("img/pin2.png");
}
#sidemenu #addPinButton {
	cursor: pointer;
	background-image: url("img/pin3.png");
	background-size: 100%;
}
#sidemenu #addTroopButton {
	cursor: pointer;
	background-image: url("img/troop.png");
	background-size: 100%;
}
.mobile #infoTxt {
	font-size: 1.5rem;
}
#jumpMenuMobile {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #404040;
	visibility: hidden;
	font-size: 3rem;
}
#jumpMenuMobile.shown {
	visibility: visible;
}
#jumpMenuMobile>div:nth-child(1) {
	float: right;
	margin: 2rem;
	background-image: url("img/X.png");
	background-size: 100%;
	width: 8rem;
	height: 8rem;
}
#jumpMenuMobile>div:nth-child(2) {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 90%;
	transform: translate(0%, -50%);
	text-align: center;
}
#jumpPinMobile {
	font-size: 2rem;
}
#jumpMenuMobile>div>div {
	margin: 1em 0;
}
#jumpMenuMobile input {
	height: em;
}
#trpnspritecnv {
	cursor: pointer;
}
#trpnspritecnv:hover {
	background-color: rgba(128,128,128,128)
}
#spritemenu {
	position: absolute;
	z-index: 10;
	width:calc(4 * 64px + 5 * 16px);
	height:calc(1.5 * 64px + 16px);
	padding: 8px;
	background-color: #808080;
	overflow-y: scroll;
	display: none;
}
#spritemenu.show {
	display: block;
}
#spritemenu canvas {
	float: left;
	margin: 8px;
	cursor: pointer;
}
#spritemenu canvas:hover {
	background-color: rgba(255,255,255,128);
}
.banner {
	margin: 1rem 0rem 0rem;
	padding: 0.5em;
	width: 100%;
	background-image: url('../img/planks_birch.png');
	background-size: 4rem;
	text-align: center;
	visibility: hidden;
	animation: bannerfade 5s;
	z-index: 20;
}
@keyframes bannerfade{
	0% {visibility: visible; opacity: 0}
	10% {visibility: visible; opacity: 1}
	80% {visibility: visible; opacity: 1}
	100% {visibility: visible; opacity: 0}
}
#bannerholder {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 16rem);
	height: calc(100% - 1rem);
	padding: 1rem 8rem 0;
	visibility: hidden;
}
#editbtn {
	visibility: hidden;
}
#editbtn.show {
	visibility: visible;
}
span[onclick] {
	cursor: pointer;
	text-decoration: underline;
}
*[title]::before {
	content:"";
	background-image: url("img/pointer.png");
	display:inline-block;
	background-size:0.5em;
	height:0.5em;
	width:0.5em;
	margin-right: 0.125em;
	image-rendering: initial;
}